*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}

 h1 {
    font-family: 'Montserrat'!important;
    font-weight: 800;
    line-height: 66px;
    color: white !important;
}
p{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;
color: white;
}
.contact{
    color: white;
}
span{
    color: black;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
}
h2{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700 !important;
font-size: 32px !important;
line-height: 39px !important;
color: #344552 !important;
max-width: 1182px;
max-height: 39px;

    
}

h6{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700 !important;
font-size: 18px!important;
line-height: 22px!important;
display: flex!important;
align-items: center!important;
text-align: center!important;
letter-spacing: 0.03em !important;
text-decoration-line: underline;

color: #1E65BC !important;

}
h3{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 800 !important;
font-size: 40px !important;
line-height: 49px !important;

/* identical to box height */
text-align: center;
letter-spacing: 0.015em;
text-transform: uppercase;

color: #344552 !important;
@media screen and (max-width: 768px) {
    font-weight: 800 !important;
font-size: 22px !important;
line-height: 27px !important;
    
}


}
h4{
    font-family: Montserrat !important;
    font-style: bold !important;
font-size: 26px !important;
font-weight: 700 !important;
line-height: 27px !important;
letter-spacing: 0em !important;
text-align: left !important;
color: #344552 !important;
vertical-align: Center !important;

}
li{
    Font-family: Montserrat;
Font-style: Regular;
font-size: 16px;
line-height: 24px;
line-height: 123%;
vertical-align: Top;
Color: White;
}
