*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 h1 {
    font-family: 'Montserrat'!important;
    font-weight: 800;
    line-height: 66px;
    color: white !important;
}
p{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;
color: white;
}
.contact{
    color: white;
}
span{
    color: black;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
}
h2{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700 !important;
font-size: 32px !important;
line-height: 39px !important;
color: #344552 !important;
max-width: 1182px;
max-height: 39px;
}
h6{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700 !important;
font-size: 18px!important;
line-height: 22px!important;
display: flex!important;
align-items: center!important;
text-align: center!important;
letter-spacing: 0.03em !important;
text-decoration-line: underline;

color: #1E65BC !important;

}